.cart{
  padding: 0px 50px 50px 0px;
  font-family: 'Bellota', cursive;
  font-weight: 100;
  width: 100%;
  max-width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shopping-cart{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.checkout{
  float: right;
  border: none;
  background: #797596;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  font-family: 'Bellota', cursive;
  padding: 10px;
}
label{
  font-weight: bold;
}
img { 
  width: 100%;
  display: block;
}

.heading{
  display: flex;
  justify-content: space-between;
  color: #0B1D51;
  padding: 10px 0px ;
  border-bottom: 1.5px solid #BBADA0;
  margin-bottom: 15px;
}

.validation{
  color: #25d366;
}

.continue{
  border: none;
  background: #7983a1;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  font-family: 'Bellota', cursive;
  padding: 10px;
}

.shopping-cart{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.product {
  margin-bottom: 20px;
  border-bottom: 1px solid #D1C6AD
}


.product-image {
  padding:0 10px;
}
.product {
  margin-bottom: 20px;
  border-bottom: 1px solid #D1C6AD;
}
.product-image {
  padding:0 10px ;
}
.product-details {
  display: flex;
  justify-content: space-between;
  color: #797596;
  font-weight: bold;
}

.product-quantity input {
  width: 30px;
  text-align: center;
  font-size: 18px;
  font-family: 'Bellota', cursive;
}

.remove-product {
  border: 0;
  padding: 4px 8px;
  background-color: #c66;
  color: #fff;
  border-radius: 3px;
}


